<link rel="stylesheet" href="https://unpkg.com/tagin@2.0.2/dist/tagin.min.css">
<script src="https://unpkg.com/tagin@2.0.2/dist/tagin.min.js"></script>
<a href="<%= @current_path_memo %>">Back</a>
<hr>
<a href="<%= @current_path_memo %>/destroy" 
   class="btn btn-primary" 
   onclick="return confirm('Are you sure you want to delete this item?');">
  DELETE
</a>
<hr>
<form id="memo-form" name="memo-form" action="<%= @current_path_memo %>/update" method="POST">
  <h1>
    <input type="text" id="title" name="title" class="form-control" value="<%= @meta_ostruct.title %>" placeholder="Your Title Here...">
  </h1>
  <hr>
  <div class="row">
    <div class="col">
      <input type="text" name="tags" class="form-control tagin" value="<%= @meta_ostruct.tags %>">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col" style="overflow-y: scroll;">
      <textarea name="content" id="content" style="width: 100%; height: 80vh;"><%= @content_md -%></textarea>
    </div>
    <div class="col">
      <div id="content-preview" style="height: 80vh; border: 1px solid green; overflow-y: scroll;">
        <%= @content -%>
      </div>
    </div>
  </div>
  <button id="submit-memo-form" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
<%# JS includes %>
<script src="/js/basic-tagin.js"></script>
<script src="/js/controllers/memos/update.js"></script>
<script src="/js/controllers/memos/preview.js"></script>
<script>
  initMemosUpdate("memo-form", "http://localhost:9292/api/v1<%= @current_path_memo %>/update");
</script>
