<style>
  md-block { white-space: pre; font-family: monospace; }
</style>
<div class="row">
  <div class="col">
    <p>
      <a href="/memos">Overview</a>
    </p>
    <p>
      <a href="<%= @current_path_memo %>/destroy" class="btn btn-primary">DELETE</a>
    </p>
    <p>
      <a href="<%= @current_path_memo %>/edit">edit</a>
    </p>
  </div>
</div>
<hr>
<h1><%= @meta_ostruct.title %></h1>
<hr>
<div class="row">
  <div class="col">
    <%= @content %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <p>
      <strong>TAGS: </strong>
      <% unless @meta_ostruct.tags.empty? %>
        <span><%= @meta_ostruct.tags.split(',').join(', ') %></span>
      <% else %>
        NO TAGS
      <% end %>
    </p>
  </div>
  <div class="col">
    <% if @meta_ostruct.urls.any? %>
      <p>
        <strong>URLS:</strong>
      </p>
      <% @meta_ostruct.urls.each do |url| %>
        <p><a href="<%= url %>" target="_blank" rel="noopener noreferrer"><%= url %></a></p>
      <% end %>
    <% else %>
      NO URLS
    <% end %>
  </div>
</div>
